@keyframes main-page-product-icon {
    0% {
        scale: 1;
    }

    12% {
        scale: 1.05;
    }

    25% {
        scale: 1.05;
    }

    50% {
        scale: 1.02;
    }

    75% {
        scale: 1.01;
    }

    100% {
        scale: 1;
    }
}